* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.header_container {
  background: rgb(255, 248, 243);
}

.primary_color {
  color: rgb(253, 110, 10);
}
.primary_btn {
  background-color: rgb(253, 110, 10);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}

.nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}
.nav h2{
  font-size: 40px;
}

ul li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .nav {
    margin: 0 auto;
    padding: 20px;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav h2{
    font-size: 30px;
  }
}

/* banner styles */

.banner_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
}

@media screen and (max-width: 576px) {
  .banner_container {
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
  }
  .banner_container> img{
    max-width: 80%;
  }
  .banner_title{
    font-size: 20px;
    font-weight: 500;
  }
}

.header_container {
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
    
  
  background-position:top left, bottom right;
  
  
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

@media screen and (max-width: 576px){
  .header_container{
    background-image: none;
    
  }
}

@media screen and (max-width: 576px){
  .header_container{
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
  
  
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
  }
}



/* .header_container {
  
  background-image: url("../images/header_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-bottom: 50px;
} */

.banner_title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 65px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: left;
}




.banner_subtitle {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .banner_subtitle{
    font-size: 30px;
  }
  .banner_title{
    font-size: 40px;
    font-weight: 700;
  }
}

.banner_description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

/* about section styles */

.about_container {
  border-radius: 10px;
  margin-top: 50px;

  border-radius: 10px;

  background: rgb(255, 248, 243);

  width: 600px;
  margin: 0 auto;
  padding: 30px 70px;
  text-align: center;
}

.about_details {
  box-sizing: border-box;
  margin: 50px 20px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  padding: 20px 10px;
}

.head_about {
  margin-bottom: 20px;
}

.about_item {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: Open Sans;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0%;
  text-align: center;
}

@media screen and (max-width: 576px){
  .about_container{
    width: 60%;
    margin: 0 auto;
  }
  .about_item{
    flex-direction: column;
    line-height: 30px;
  }
}

/* what is do */

.what_is_do_container {
  text-align: center;
  margin: 0 auto;
  width: 800px;
}
.skill_details {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
  padding: 20px;
  margin: 5px;
}

.skill_title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.skill_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  box-shadow: 20px 20px 20px #888888;
}


.skill_card {
  border: 2px solid black;
}

@media screen and (max-width:576px){
  .what_is_do_container{
    flex-direction: column;
    width: 80%;
  }
  .skill_items, .skill_card{
    flex-direction: column;
    box-shadow: none;
   padding: 30px;
   margin: 20px;
   border-radius: 10px;
  }
}

.what_i_do_title {
  margin-top: 50px;
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

/* resume styles */
.resume_section {
  width: 800px;

  text-align: center;
  margin: 50px auto;
}


.resume_container {
  display: flex;
  gap: 20px;

  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .resume_container {
    flex-direction: column;
    padding: 20px;
  }
}

.resume_description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.resume_title {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}

.resume_subtitle {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

.resume_part {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  width: 50%;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .resume_container, .resume_section {
    width: 80%;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
  
  }
  .resume_section{
    font-size: 30px;
  }
  .resume_part{
    font-size: 25px;
    text-align: left;
  }
}

.footer_container {
  background: rgb(255, 248, 243);
  display: flex;
  gap: 20px;
}

.lets_connect {
  padding: 50px;
  padding-right: 20px;
  width: 50%;
}

@media screen and (max-width: 576px) {
  .footer_container {
    flex-direction: column;
    padding: 20px;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .lets_connect {
    padding: 50px;
    padding-right: 20px;
    /* width: 90%; */
    line-height: 30px;
  }
  .foooter_img{
    margin-top: 30px;
  }
}

textarea, .text_area{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.message {
  margin: 0 auto;
  padding: 50px 100px;
  width: 80%;
  line-height: 50px;
}

@media screen and (max-width: 576px) {
  .message {
    padding: 50px;
    padding-right: 20px;
    /* width: 90%; */
  }
  textarea, .text_area{
    margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

  }




.hide {
  display: none;
}

/* @media screen and (max-width: 576px) {
  .about_container {
    width: 500px;
    margin: 0;
    padding: 20px;
  }
} */


