* {
  margin: 0;
  padding: 0;
}

/* shared styles */

header {
  background: rgb(255, 248, 243);
}

.primary_color {
  color: rgb(253, 110, 10);
}
.primary_btn {
  background-color: rgb(253, 110, 10);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}

.nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}

ul li {
  list-style: none;
}
ul {
  display: flex;

  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 100px;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.banner_img {
}
.banner_details {
}

.banner_title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 65px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: left;
}

.banner_subtitle {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
}

.banner_description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

/* about section styles */

.about {
  border-radius: 10px;
  margin-top: 50px;

  border-radius: 10px;

background: rgb(255, 248, 243);

  width: 600px;
  margin: 0 auto;
  padding: 30px 70px;
  text-align: center;
}

.about_details{
  box-sizing: border-box;
  margin: 50px 20px;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
padding: 20px 10px;
}

.head_about{
  margin-bottom: 20px;
  
}

.about_item{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  Font: Open Sans;
font-weight: 400;
Font-size: 18px;

Letter-spacing: 0%;
text-Align: center;
}


/* what is do */

.what_is_do{
  text-align: center;
  margin: 0 auto;
  width: 800px;
}
.skill_details{
  color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align:justify;
padding: 20px;
margin: 5px;
}


.skill_title{
  color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
}

.skill_items{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.what_i_do_title{
  margin-top: 50px;
  color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}